openapi: 3.0.1
info:
  contact:
    email: support@ala.org.au
    name: Atlas Of Living Australia
    url: http://www.ala.org.au
  description: RESTful and RPC API for the Data Quality Filters service
  license:
    name: MPL
    url: https://www.mozilla.org/en-US/MPL/
  termsOfService: https://www.ala.org.au/terms-of-use
  title: Data Quality Services API
  version: 1.2.0-SNAPSHOT
servers:
- url: https://data-quality-service.ala.org.au/
paths:
  /api/v1/quality/getAllInverseCategoryFiltersForProfile:
    get:
      operationId: getAllInverseCategoryFiltersForProfile
      parameters:
      - description: Quality Profile Id
        in: query
        name: qualityProfileId
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
      summary: Get all the inverse filter strings for a given data profile
      tags:
      - QualityServiceRPC
      x-accepts: application/json
  /api/v1/quality/getGroupedEnabledFilters:
    get:
      operationId: getGroupedEnabledFilters
      parameters:
      - description: Profile name
        in: query
        name: profileName
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/QualityFilter'
                  type: array
                type: object
          description: OK
      summary: Get Grouped Enabled Filters
      tags:
      - QualityServiceRPC
      x-accepts: application/json
  /api/v1/quality/activeProfile:
    get:
      operationId: activeProfile
      parameters:
      - description: The profile short name
        in: query
        name: profileName
        schema:
          type: string
      - description: the userId used to get active profile in case profile name is
          not provided
        in: query
        name: userId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityProfile'
          description: OK
      summary: "Retrieve the data profile for a given profile's short name. If the\
        \ profile doesn't exist or the short name is omitted then get the default\
        \ profile of the specified user. \n                    If no profile found\
        \ or no userId specified, return the default public profile"
      tags:
      - QualityServiceRPC
      x-accepts: application/json
  /api/v1/quality/findAllEnabledCategories:
    get:
      operationId: findAllEnabledCategories
      parameters:
      - description: Profile name
        in: query
        name: profileName
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/QualityCategory'
                type: array
          description: OK
      summary: Find All Enabled Categories
      tags:
      - QualityServiceRPC
      x-accepts: application/json
  /api/v1/quality/getEnabledFiltersByLabel:
    get:
      operationId: getEnabledFiltersByLabel
      parameters:
      - description: Profile name
        in: query
        name: profileName
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
      summary: Get enabled filters, grouped by category label for a given profile
        name
      tags:
      - QualityServiceRPC
      x-accepts: application/json
  /api/v1/quality/getInverseCategoryFilter:
    get:
      operationId: getInverseCategoryFilter
      parameters:
      - description: Quality Category Id
        in: query
        name: qualityCategoryId
        schema:
          type: integer
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: OK
      summary: Get the full inverse filter string for a given quality category
      tags:
      - QualityServiceRPC
      x-accepts: text/plain
  /api/v1/quality/getDefaultProfile:
    get:
      operationId: getDefaultProfile
      parameters:
      - description: The userId used to retrieve the default profile
        in: query
        name: userId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityProfile'
          description: OK
      summary: Retrieve the default data profile. If the userId is provided, return
        the default profile for the user. Otherwise return the default public profile
      tags:
      - QualityServiceRPC
      x-accepts: application/json
  /api/v1/quality/getEnabledQualityFilters:
    get:
      operationId: getEnabledQualityFilters
      parameters:
      - description: Profile name
        in: query
        name: profileName
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Get Enabled Quality Filters
      tags:
      - QualityServiceRPC
      x-accepts: application/json
  /api/v1/quality/getJoinedQualityFilter:
    get:
      operationId: getJoinedQualityFilter
      parameters:
      - description: Profile name
        in: query
        name: profileName
        schema:
          type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: OK
      summary: Get the full filter string for a given data profile
      tags:
      - QualityServiceRPC
      x-accepts: text/plain
  /api/v1/data-profiles/{profileId}/categories/{categoryId}/filters/{id}:
    get:
      operationId: filters/{id}
      parameters:
      - description: The id or short name for the quality profile or default for the
          default profile
        in: path
        name: profileId
        required: true
        schema:
          type: string
      - description: The id for the quality category
        in: path
        name: categoryId
        required: true
        schema:
          type: string
      - description: The id for the quality category
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/QualityFilter'
                type: array
          description: OK
      summary: Retrieve a single quality filter
      tags:
      - filters
      x-accepts: application/json
  /api/v1/data-profiles/{profileId}/categories/{categoryId}/filters:
    get:
      operationId: filters
      parameters:
      - description: The id or short name for the quality profile or default for the
          default profile
        in: path
        name: profileId
        required: true
        schema:
          type: string
      - description: The id for the quality category
        in: path
        name: categoryId
        required: true
        schema:
          type: string
      - description: Maximum results to return
        in: query
        name: max
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/QualityFilter'
                type: array
          description: OK
      summary: List all quality filters
      tags:
      - filters
      x-accepts: application/json
  /api/v1/data-profiles/{id}:
    get:
      operationId: data-profiles/{id}
      parameters:
      - description: The id or short name for the quality profile
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityProfile'
          description: OK
      summary: Retrieve a single quality profile
      tags:
      - data-profiles
      x-accepts: application/json
  /api/v1/data-profiles:
    get:
      operationId: data-profiles
      parameters:
      - description: Maximum results to return
        in: query
        name: max
        schema:
          type: integer
      - description: Offset results by
        in: query
        name: offset
        schema:
          type: integer
      - description: Property to sort results by
        in: query
        name: sort
        schema:
          type: string
      - description: Direction to sort results by
        in: query
        name: order
        schema:
          type: string
      - description: Only return enabled profiles
        in: query
        name: enabled
        schema:
          type: boolean
      - description: Search for profiles by name
        in: query
        name: name
        schema:
          type: string
      - description: Search for profiles by short name
        in: query
        name: shortName
        schema:
          type: string
      - description: the userId used to search private profiles
        in: query
        name: userId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/QualityProfile'
                type: array
          description: OK
      summary: List all quality profiles
      tags:
      - data-profiles
      x-accepts: application/json
  /api/v1/data-profiles/{profileId}/categories/{id}:
    get:
      operationId: categories/{id}
      parameters:
      - description: The id or short name for the quality profile or default for the
          default profile
        in: path
        name: profileId
        required: true
        schema:
          type: string
      - description: The id for the quality category
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/QualityProfile'
                type: array
          description: OK
      summary: Retrieve a single quality category
      tags:
      - categories
      x-accepts: application/json
  /api/v1/data-profiles/{profileId}/categories:
    get:
      operationId: categories
      parameters:
      - description: The id or short name for the quality profile or default for the
          default profile
        in: path
        name: profileId
        required: true
        schema:
          type: string
      - description: Maximum results to return
        in: query
        name: max
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/QualityCategory'
                type: array
          description: OK
      summary: List all quality categories
      tags:
      - categories
      x-accepts: application/json
components:
  schemas:
    QualityCategory:
      example:
        qualityFilters:
        - filter: filter
          qualityCategoryId: '{}'
          lastUpdated: 2000-01-23T04:56:07.000+00:00
          dateCreated: 2000-01-23T04:56:07.000+00:00
          displayOrder: 2
          description: description
          id: 5
          enabled: true
        - filter: filter
          qualityCategoryId: '{}'
          lastUpdated: 2000-01-23T04:56:07.000+00:00
          dateCreated: 2000-01-23T04:56:07.000+00:00
          displayOrder: 2
          description: description
          id: 5
          enabled: true
        lastUpdated: 2000-01-23T04:56:07.000+00:00
        dateCreated: 2000-01-23T04:56:07.000+00:00
        qualityProfileId: '{}'
        name: name
        displayOrder: 5
        description: description
        id: 1
        label: label
        enabled: true
      properties:
        id:
          format: int64
          type: integer
        enabled:
          type: boolean
        name:
          type: string
        label:
          type: string
        description:
          type: string
        displayOrder:
          format: int64
          type: integer
        dateCreated:
          format: date-time
          type: string
        lastUpdated:
          format: date-time
          type: string
        qualityProfile:
          $ref: '#/components/schemas/QualityProfile'
        qualityFilters:
          items:
            $ref: '#/components/schemas/QualityFilter'
          type: array
          uniqueItems: true
        qualityProfileId:
          properties: {}
          type: object
      type: object
    QualityFilter:
      example:
        filter: filter
        qualityCategoryId: '{}'
        lastUpdated: 2000-01-23T04:56:07.000+00:00
        dateCreated: 2000-01-23T04:56:07.000+00:00
        displayOrder: 2
        description: description
        id: 5
        enabled: true
      properties:
        id:
          format: int64
          type: integer
        enabled:
          type: boolean
        description:
          type: string
        filter:
          type: string
        displayOrder:
          format: int64
          type: integer
        dateCreated:
          format: date-time
          type: string
        lastUpdated:
          format: date-time
          type: string
        qualityCategory:
          $ref: '#/components/schemas/QualityCategory'
        qualityCategoryId:
          properties: {}
          type: object
      type: object
    QualityProfile:
      example:
        contactEmail: contactEmail
        contactName: contactName
        displayOrder: 6
        description: description
        userId: userId
        enabled: true
        lastUpdated: 2000-01-23T04:56:07.000+00:00
        isDefault: true
        dateCreated: 2000-01-23T04:56:07.000+00:00
        name: name
        isPublic: true
        id: 0
        categories:
        - qualityFilters:
          - filter: filter
            qualityCategoryId: '{}'
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            dateCreated: 2000-01-23T04:56:07.000+00:00
            displayOrder: 2
            description: description
            id: 5
            enabled: true
          - filter: filter
            qualityCategoryId: '{}'
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            dateCreated: 2000-01-23T04:56:07.000+00:00
            displayOrder: 2
            description: description
            id: 5
            enabled: true
          lastUpdated: 2000-01-23T04:56:07.000+00:00
          dateCreated: 2000-01-23T04:56:07.000+00:00
          qualityProfileId: '{}'
          name: name
          displayOrder: 5
          description: description
          id: 1
          label: label
          enabled: true
        - qualityFilters:
          - filter: filter
            qualityCategoryId: '{}'
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            dateCreated: 2000-01-23T04:56:07.000+00:00
            displayOrder: 2
            description: description
            id: 5
            enabled: true
          - filter: filter
            qualityCategoryId: '{}'
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            dateCreated: 2000-01-23T04:56:07.000+00:00
            displayOrder: 2
            description: description
            id: 5
            enabled: true
          lastUpdated: 2000-01-23T04:56:07.000+00:00
          dateCreated: 2000-01-23T04:56:07.000+00:00
          qualityProfileId: '{}'
          name: name
          displayOrder: 5
          description: description
          id: 1
          label: label
          enabled: true
        shortName: shortName
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
        shortName:
          type: string
        description:
          type: string
        contactName:
          type: string
        contactEmail:
          type: string
        userId:
          type: string
        isPublic:
          type: boolean
        enabled:
          type: boolean
        isDefault:
          type: boolean
        displayOrder:
          format: int64
          type: integer
        dateCreated:
          format: date-time
          type: string
        lastUpdated:
          format: date-time
          type: string
        categories:
          items:
            $ref: '#/components/schemas/QualityCategory'
          type: array
          uniqueItems: true
      type: object

